.login-margin{
    margin: 50px;
}
.margin-in-fields{
    margin-left: 10px;
}
.length-input-bar{
    width: 400px;
}
.navbar-margin{
    margin: 20px;
}
.wrapper{
    width: 100%;
    float: right;
    border-radius: 5px;
    margin-bottom: 100px;
  }
  .wrapper .title h1{
    color: green;
    text-align: left;
    margin-bottom: 25px;
  }
  
  .contact-form{
    display: flex;
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields
  {
    width: 100%;
  }
  
  .input-fields .input,textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid green;
    padding: 10px;
    color: black;
    width: 100%;
  }
  
  textarea{
    height: 212px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: green;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: green;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: green;
  }
  
  .btn {
      background: green;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px){
    .contact-form{
      flex-direction: column;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields{
      width: 100%;
    }
  }
  body {
    background: #f6f6f6;
    height: 100vh;
  }
  nav {
    background-color: green;
  }
  .search-form {
    width: 50%;
  }
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    box-shadow: -1px 0 0 rgba(0, 0, 0, .1);
    max-width: 10vw;
  }
  
  #sidebar .nav-item {
    text-align: center;
    padding: 25px 0;
  }
  
  #sidebar .nav-item a {
    color: white;
  }
  
  #sidebar .nav-item a.active { 
    color: white;
  }
  
  .vertical-nav {
    margin-top: 20vh;
  }
  
  .logo {
    max-height: 30px;
    margin: 15px 25px;
  }
  
  a.navbar-brand {
    text-align: center;
    width: 100%;
    display: block;
  }
  section {
    margin: 10px;
  }
  .main {
    padding: 2rem;
    padding-top: calc(4rem + 74px)
  }
  .main .first-row, .main .second-row {
    padding-bottom: 3rem;
  }
  .main .row .card {
    height: 100%;
  }
  .card {
    border: 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
    max-height: 100%;
  }
  .card-header {
    background: white;
    font-weight: 700;
    padding: 20px;
  }
  .card-body {
    padding: 0.5rem;
    font-size: 12px;
  }
  #recently-posted .card img {
    padding-top: 0.5rem;
  }
  .stats .card-text {
    padding-top: 5px;
    padding-left: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
  .img-container {
    height: 120px;
    width: 120px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 20px;
  }
  .card-img-top {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
  .badge {
    font-size: 18px;
  }
  .margin-section{
    margin-left: 60px;
  }